/* Uniform Background */
/* Board Page - Background Unified */
.board-container {
  min-height: 100vh;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding-top: 100px; /* Adjusted for Header */
}

/* Remove Header Border on Board Page */
.header {
  border-bottom: none !important;
  box-shadow: none !important;
}

/* Start a New Coin Button */
.start-coin-btn {
  background-color: #f97316;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-coin-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(249, 115, 22, 0.4);
}



.wallet-btn {
  background-color: #2ecc71;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* Start a New Coin Button */
.start-coin {
  text-align: center;
  margin-top: 30px;
}

.start-coin-btn {
  background-color: #f97316;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-coin-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(249, 115, 22, 0.4);
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;

}

.search-bar {
  width: 300px;
  padding: 12px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #082b62;
  background-color: #0b579e;
  color: #ffffff;
}

.search-btn {
  padding: 12px 20px;
  border-radius: 0 5px 5px 0;
  background-color: #10b981;
  color: white;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #059669;
}

/* Token Cards Grid */
.token-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Loading Text */
.loading-text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
  color: #facc15;
}