/* Tailwind Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Theme */
:root {
  --primary-color: #4f46e5;
  --secondary-color: #22d3ee;
  --background-gradient: radial-gradient(circle at top, #0d707f, #0b205a);
  --foreground: #ffffff;
  --accent: #142a4c;
  --highlight: #4ade80;
  --danger: #ef4444;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-gradient);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Go Back Button */
.go-back {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.go-back:hover {
  text-decoration: underline;
}

/* Error Message */
.error-message {
  color: #ef4444;
  font-weight: bold;
  text-align: center;
}

/* Success Message */
.success-message {
  color: #22c55e; /* Green color */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(34, 197, 94, 0.1);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #22c55e;
  animation: fadeIn 0.5s ease-in-out;
}

/* Smooth Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}